<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
    
    <div class="form-group">
      <label for="username">Usuário</label>
      <input type="email" class="form-control" #userName required>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" #userPassword required>
    </div>

    <!-- Calling SignIn Api from AuthService -->
    <div class="form-group">
      <button class="btn btn-primary" (click)="authService.login(userName.value, userPassword.value)">Login</button>
    </div>

    <div class="form-group">
        <a routerLink="/auth/forgot-password">Esqueçeu a senha?</a>
    </div>
  </div>
</div>