 <div class="edit-page">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">Alterar Centro de Evagelização
        <li class="breadcrumb-item active" aria-current="page"></li>
      </ol>
    </nav>
    <div class="page-content">
      <div class="row">
        <div class="col col-md-8">
  
          <form class="edit-form" [formGroup]="ecForm" novalidate (ngSubmit)="onSubmit(ecForm.value)">

            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>
  

            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Endereço</mat-label>
                    <input matInput formControlName="address">
                </mat-form-field>
            </div>
  
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="phoneNumber">
                </mat-form-field>
            </div>
  
            <div class="row submit-button-container">
              <div class="col-md-4">
                <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!ecForm.valid">Salvar</button>
              </div>
              <div class="col-md-4">
                <button mat-raised-button class="delete-button" color="warn" type="button" (click)="delete()">Apagar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>