<div class="container">
    <div class="row">
        <form (ngSubmit)="onSubmit()" #centroForm="ngForm" >
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome"
                    required
                    [(ngModel)]="centro.nome" name="nome"
                    #nome="ngModel">
            </div>
            <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">
                Nome é obrigatório
            </div>
            
            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input type="text" class="form-control" id="endereco"
                    required
                    [(ngModel)]="centro.endereco" name="endereco"
                    #endereco="ngModel">
            </div>
            <div *ngIf="endereco.invalid && (endereco.dirty || endereco.touched)" class="alert alert-danger">
                Endereço é obrigatório
            </div>

            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone"
                    required mask="(00) 000000009"
                    [(ngModel)]="centro.telefone" name="telefone"
                    #telefone="ngModel">
            </div>
            <div *ngIf="telefone.invalid && (telefone.dirty || telefone.touched)" class="alert alert-danger">
                Telefone é obrigatório
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!centroForm.form.valid">Salvar</button>
        </form>
    </div>
</div>