
<div class="container">
    <div class="row">
        <select class="custom-select custom-select-lg mb-3" (change)="loadPessoas($event)">
            <option value="">Selecione o evento</option>
            <option value="{{item.payload.doc.data().nome}}" *ngFor="let item of eventos">{{item.payload.doc.data().nome}}</option>
        </select>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Evento</th>
                    <th scope="col">Data de Inclusão</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pessoas">
                    <td>{{item.payload.doc.data().nome}}</td>
                    <td>{{item.payload.doc.data().idade}}</td>
                    <td>{{item.payload.doc.data().telefone}}</td>
                    <td>{{item.payload.doc.data().email}}</td>
                    <td>{{item.payload.doc.data().evento}}</td>
                    <td>{{item.payload.doc.data().dataInclusao}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>