<div class="card">
  <h4 class="card-header">Resetar senha</h4>
  <div class="card-body">
    
    <p class="text-center">Por favor entre com seu endereço de e-mail para resetar a senha.</p>

    <div class="form-group">
      <input type="email" class="form-control" #passwordResetEmail required>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" (click)="authService.sendPasswordResetEmail(passwordResetEmail.value)">Resetar senha</button>
    </div>

    <div class="form-group">
      <a routerLink="/auth/login">Voltar</a>
    </div>
  </div>
</div>
