<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Resetar senha</h3>
  
        <p class="text-center">Por favor entre com seu endereço de e-mail para resetar a senha.</p>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="E-mail" #passwordResetEmail required>
        </div>
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Resetar senha" (click)="authService.sendPasswordResetEmail(passwordResetEmail.value)">
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Voltar? <span class="redirect" routerLink="/login">Login</span></span>
      </div>
  
    </div>
  </div>